<a href="https://colab.research.google.com/github/shrutijadhav25-cell/Data_science_lab_SE_A_69/blob/main/Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = int(input("Enter a number: "))

print(f"Multiplication Table for {num}:")
for i in range(1, 11):
   print(f"{num} x {i} = {num * i}")

Enter a number: 11
Multiplication Table for 11:
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110